@{
	ViewData["Tittle"] = "About ME";
}

<p>I am Hamza Shakeel Cruently i am studing in full-stack development in dotnet for 
	backend, MySQL for DataBase and Angular for backend. This program was interduse by Goverment
	for every feild person who want to become IT Person.</p>




<style>
	body{
		text-align:justify;
		
	}
	.hamza{
    height:250px;
    width:200px;
}

	.Education{
		background-color: rgba(236, 160, 13);
	}
	.Profile{
	background-color:black;
	width:300px;
	background-color: rgba(0, 0, 0, 0.989);
	color: white;}
	.direction{
		display: flex;
		flex-direction: row;
	}
	table tr td,th {
		border:2px solid black;
		column-width:100px;
	}
</style>

	
	<div class="direction">
	<div class="Profile" >
	<img src="../images/Hamza.jpg" alt="Alternate Text" class="hamza" />
	<h1 style="font-size:30px">Hamza Shakeel</h1>
	<h3>UX/UI Designer</h3>
 
	<ul>
		<li>Skills</li>
	<li>Graphic design</li>
	<li>Illustration</li>
	<li>Layout design</li>
	<li>Icons design</li>
	<li> Programming</li>
	<li> Communication and teamwork</li>
	<h1>Languages</h1>
	<li>Urdu</li>
	<li>English</li>

	</ul>
	
	</div>

	<div class="Education" style="width:400px" >
		<h1>Profile</h1>
	<p>	I am a UI/UX designer, UX is the process
		of designing a product through a user
		approach. Products with good UX design
		will increase user satisfaction with
		products
	</p>
	
	<div >
		<h2>EDUCATION</h2>
	<p>Educators School</p>
	<p>Kips College 2018-2020</p>
	<p>University Of Lahore</p>
	</div>
	
	<p>
		<h1>Experience</h1>
	<p>2016 - 2021 | UI/UX Designer

slicing design and implementing visual
and interactive elements
Greatsite studio
2010 - 2015 | Frontend developer

CONTACT
Designed numerous marketing
campaigns
Reallygreat studio </p>

	</p>


	<p>
		<h1>Contacts</h1>
	<p>+123-456-7890</p>
	<p>hello@reallygreatsite.com</p>
	<p>www.reallygreatsite.com</p>
	<p>123 Anywhere St., Any City, ST 12345</p>
	</p>
</div>
	</div class="Direction">
	<br />
	<div>
		<h6>Dear Mr. Morgan</h6>
	<p>
		Memos are documents for communicating with people within businesses and offices.
		They often contain short messages and announcements, formatted according to a
		certain style that the company has determined. If you’re writing your own, it’s best to
		remember the purpose of your memo.
	
	</p>
	<p>
		Like letters, there are plenty of reasons behind writing a memo. They can be used to
		deliver information, make a request, respond to questions, propose solutions to
		problems, or present brief reports. Memos often begin with a set number of text fields
		to identify the recipient’s and sender’s names, the date, and the subject. As with most
		letters, their contents follow a simple three-part format: introduction, body, and
		conclusion. You can start by telling your recipient why you’re writing them a memo,
		then continue filling the next few paragraphs with your main thoughts. Summarize
		them, if needed, by the end of your message.
	</p>
	<p>
		As for the memo’s look, make sure the text is clear and easy to read. However, you can
		include your logo, company name, and a few relevant photos. Another idea is to use
		your brand colors to create a memo that aligns with your overall mission. Lastly,
		finalize your template so that it’s ready to use anytime.
	</p>
	</div>
	
