@{
	ViewData["Title"] = "Home Page";
}
<style>

    body{
     
    }
    .card{
        background-color:brown;
    }
h4,h6{
        text-align: center;
       
        
}

a{
  text-decoration: none;
  color: rgb(17, 81, 134);
}
.text-center
{

    
}
</style>

<h1 style=" text-align:center ;">How can we HELP YOU</h1>
<br>


<div class="container w-75 " style="margin-bottom : 40px;margin-right:0px">


    <div class="row">
        <div class="card me-5 " style="width: 15rem;">

            <h1 class="text-center ">&#9993;</h1>
            <div class="card-body">
                <h4 class="card-text text-center">EMAIL</h4>
                <h6>70126605@student.uol.edu.pk</h6>
            </div>
        </div>
        <div class="card me-5 " style="width: 15rem;">

            <h1 class="text-center text-center">&#9743;</h1>
            <div class="card-body">
                <h4 class="card-text text-center">Phone Number</h4>
                <h4 >123456789</h4>
            </div>
        </div>
        <div class="card " style="width: 15rem;">
            <h1 class="text-center text-center">	&#xf1ad;</h1>
            <div class="card-body">
                <h4 class="card-text text-center">Location</h4>
                <h6>ExD,Jail Road,Lahore</h6>
            </div>
        </div>
    </div>
</div>
<div style=" display:flex;justify-content:center">
<iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3400.4697747481164!2d74.33475757443973!3d31.5387197742055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391905479cee8107%3A0x28d9e1e122a21072!2sExD%20Digital!5e0!3m2!1sen!2s!4v1724127425406!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div> 